*{margin: 0;padding: 0;box-sizing: border-box;}
img{width: 100%;height: 800px; float: left;background-size: cover;}
body { background: #f6f6f6;width: 100%;background: #333;font-family: 'Lato', sans-serif;}
.logo{width: 25%;height: 180px;margin: 0 37.5%;position: absolute;top: 50px;z-index: 1001; }
.slider{transition: 0.7s ease;}
.color-rgba{width: 100%;height: 800px;background: rgba(0,0,0,0.6);position: absolute;top: 0;z-index: 1000;}
.container{width: 100%;}
.content{width: 80%;margin: 0 10%;}
.countdownContainer{ position: absolute; top: 50%;left: 50%;z-index: 1001; transform : translateX(-50%) translateY(-50%); text-align: center;   padding: 10px;}
.info {font-size: 60px;color: #fff;}
.info .titulo-coming{ color: #fff;}
.info #days,#hours, #minutes,#seconds{border: 1px solid #fff; border-radius: 50%;color: #fff;  padding: 48px 50px;}
.tabela{width: 100%;float: left;}
tr td{color: #fff;font-size: 1em;font-weight: bold;}
.contato-footer{width: 100%;position:absolute;top: 530px;z-index: 1001;margin: 0;padding: 0;left: 0;}
.contato-footer .box-info{list-style: none;width: 70%;margin: 0 15%;}
.contato-footer .box-info .desc-txt{font-size: 1.4em;}
.contato-footer .box-info p{line-height: 1.5; letter-spacing:1.5px; color: #fff; text-align: center; font-size: 1em;}
@media(max-width: 1600px){
    body{width: 100%;max-width: 100%;}
}